<h2 style="color: #ff6700">1. Input binding</h2>
<app-hero-parent></app-hero-parent>
<br />
<h2 style="color: #ff6700">2. Set - Get Binding</h2>
<app-name-parent></app-name-parent>
<br />
<h2 style="color: #ff6700">3. OnChanges</h2>
<app-version-parent></app-version-parent>
<br />
<h2 style="color: #ff6700">4. EventEmitter</h2>
<app-vote-taker></app-vote-taker>
<br />
<h2 style="color: #ff6700">5. Local Variable</h2>
<app-countdown-parent-lv></app-countdown-parent-lv>
<br />
<h2 style="color: #ff6700">6. ViewCHhild()</h2>
<app-vc-parent></app-vc-parent>
<br />
<h2 style="color: #ff6700">7. Service</h2>
<app-mission-control></app-mission-control>
