<h1 style="color: #ff6700">1. Life cycle Hook</h1>
<app-parent></app-parent>
<hr />
<h1 style="color: #ff6700">2. Input binding</h1>
<app-hero-parent></app-hero-parent>
<hr />
<h1 style="color: #ff6700">3. Set - Get Binding</h1>
<app-name-parent></app-name-parent>
<hr />
<h1 style="color: #ff6700">4. OnChanges</h1>
<app-version-parent></app-version-parent>
<hr />
<h1 style="color: #ff6700">5. EventEmitter</h1>
<app-vote-taker></app-vote-taker>
<hr />
<h1 style="color: #ff6700">6. Local Variable</h1>
<app-countdown-parent-lv></app-countdown-parent-lv>
<hr />
<h1 style="color: #ff6700">7. ViewCHhild()</h1>
<app-vc-parent></app-vc-parent>
<hr />
<h1 style="color: #ff6700">8. Service</h1>
<app-mission-control></app-mission-control>
